extends ../_layouts/base

include ../_modules/header/header
include ../_modules/footer/footer
include ../_modules/dare2b-banner/dare2b-banner

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  +header({baseUrl})
  main.main
    +dare2b-banner(site.data.home[2])
    .bg--white.pb-50
      .container
        .row
          .col-sm-6.pt-50
            img(src=baseUrl + 'images/sim-global.png')
            h2.title.t--green GOOD SPORTS
            p As the Singapore University Sports Council Chair for 2018/19, <strong class="t--green">SIM Global Education (SIM GE)</strong> played an active role in promoting student participation in sporting events such as the ASEAN University Games, World University Championship Sports and Singapore University Games. Through more than 30 sports clubs and 60 sporting activities, our students learn teamwork and perseverance, and build long-lasting friendships, among other things.
            p Similarly, conquering Mount Fansipan, the highest mountain in the Indochinese Peninsula, was a high point for our team of students from the SIM Outdoor Adventure Club. But it was the valuable life lessons in being resourceful, taking responsibility and showing empathy that will continue to shape their lives.
          .col-sm-6
            figure.figure.figure--green
              img(src=baseUrl + 'images/exceptional-global-1.jpg')
              figcaption Caption
            figure.figure.figure--green
              img(src=baseUrl + 'images/exceptional-global-2.jpg')
              figcaption Caption
    .bg--green
      .container
        h2.title.t--green FOR ART’S SAKE
        .row
          .col-sm-6
            p Arts and cultural activities provided students with a platform to express their individuality, cultivate cultural awareness, and hone their artistic and leadership skills. To put the science into the arts, we introduced a developmental framework among all the 11 arts and cultural student clubs, benefitting more than 700 students. Not only did our students acquire the necessary soft skills to enhance their employability, the quality of their performances improved too.
            p SIM students put up 10 theatre, dance and music productions. Highlights included the SIM Malay Cultural and Muslim Society's 'Introspeksi Kalbu', promoting community awareness and support for anti-drug campaigns; and 'Evolusi Muzika' which educated the community on the progression of Malay music throughout the years. Students of the SIM Esprimere Singing Club were also featured in the Top 20 of the televised local singing competition, SPOP Sing!
          .col-sm-6
            p On the invitation of the editors, SIM Japanese Culture and Gaming Society examined Japanese and Hong Kong popular culture, and contributed two chapters to the book, 'Studying Hong Kong: 20 Years of Political, Social and Economic Development'. The book was published by World Scientific and sold internationally.
        .row.figure-row
          .col-sm-6
            figure.figure.figure--green
              img(src=baseUrl + 'images/exceptional-global-3.jpg')
              figcaption Caption
          .col-sm-6
            figure.figure.figure--green
              img(src=baseUrl + 'images/exceptional-global-4.jpg')
              figcaption Caption
    .bg--white.pt-20.pb-50
      .container
        h2.title.t--green MAKING TRACKS
        .row
          .col-sm-6
            p To enhance employability and prepare themselves to be career-ready, our students took career planning seriously and took part in more than 250 career-related programmes and events. These activities helped them develop a better understanding of themselves and take charge of their career paths.
            p For the first time, we organised a one-day boot camp for our freshmen to discover their career interests and explore the different types of jobs and industry sectors. Our students also benefited from our new one-stop online portal, UNICORN, that offers useful information on career development, events, internships and job opportunities.
            p SIM GE partnered industry players such as SGTech, Singapore Fintech Association and Ping An’s OneConnect Financial Technology to provide our students with internship and placement opportunities. Employment and networking opportunities were also made available through our career fairs which showcased organisations including start-ups, small and medium-sized enterprises, public and not-for-profit companies.
            p For the first time, students participated in an internship programme in New York, USA, where they lived together, received on-the-job training at one of the 25 host organisations, attended professional development workshops and networked with the US government agencies.
            p Our industry partners and alumni were also engaged to mentor and guide our students.  Such initiatives included the Young Graduates Forum where young SIM GE graduates working across different sectors provided career advice based on their own journeys and experiences; and the first International Student Career Forum helmed by international graduates.
            p To give our international students a leg up in employment in their home cities such as Jakarta, Hanoi, Yangon, Shanghai and Guangzhou, we also organised career development initiatives in these cities to expose them to first-hand industry trends and employment landscape.
          .col-sm-6
            figure.figure.figure--green
              img(src='http://placehold.it/460x260')
              figcaption Caption
            figure.figure.figure--green
              img(src=baseUrl + 'images/exceptional-global-6.jpg')
              figcaption Caption
    .bg--green.pt-20
      .container
        h2.title.t--green GETTING UP CLOSE
        .row
          .col-sm-6
            p SIM GE also organised a number of business competitions and other events that gave students opportunities to gain real-world global and business perspectives. Through these, they also built up public speaking, communication and negotiation skills.
            p Such events included the Chartered Financial Analyst (CFA) Institute Research Challenge and Tata Crucible Campus Quiz. Our students also had the opportunity to network and shine at overseas conferences such as the Harvard National Model United Nations conference in Boston, USA.
          .col-sm-6
            p To give them a better grasp of current affairs and a voice on topics that impacted them and their local communities, our students were engaged in dialogue sessions with Singapore politicians such as Mr Tan Chuan-Jin, Speaker of Parliament, and Dr Vivian Balakrishnan, Minister for Foreign Affairs.
        .row.figure-row
          .col-sm-6
            figure.figure.figure--green
              img(src=baseUrl + 'images/exceptional-global-7.jpg')
              figcaption Caption
          .col-sm-6
            figure.figure.figure--green
              img(src=baseUrl + 'images/exceptional-global-8.jpg')
              figcaption Caption
    .bg--white.pt-50.pb-50
      .container
        .row
          .col-sm-6
            h2.title.t--green CELEBRATING DIVERSITY
            p In an interconnected world, it is important for our students to acquire global competence and multiple intelligences – creative, social, emotional and digital – so as to be effective global citizens. This was achieved through on-campus personal development programmes and study abroad programmes with highly ranked partner institutions from Europe, Japan, United States and South Korea.
          .col-sm-6
            figure.figure.figure--green
              img(src=baseUrl + 'images/exceptional-global-9.jpg')
              figcaption Caption

    .bg--lavender.pt-50.pb-50
      .container
        img(src=baseUrl + 'images/scia.png')
        .row
          .col-sm-6
            h2.title.t--lavender MAKING AN IMPACT THE SIM WAY IN CAMBODIA
            p Bringing the SIM brand of holistic education to our students at <strong class="t--lavender">Singapore (Cambodia) International Academy (SCIA)</strong> to better prepare them for the real world, we provided programmes beyond the standard core subjects to include business management, information and communications technology as well as soft skills such as communication, problem-solving and cyber wellness. Teachers also focused on building moral character, leadership skills and global awareness in students through co-curricular and other activities.
          .col-sm-6
            figure.figure.figure--lavender
              img(src=baseUrl + 'images/exceptional-scia-1.jpg')
              figcaption Caption

  +footer()
