extends ../_layouts/base

include ../_modules/header/header
include ../_modules/footer/footer
include ../_modules/dare2b-banner/dare2b-banner
include ../_modules/video-player/video-player

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  +header({baseUrl})
  main.main
    +dare2b-banner(site.data.home[1])
    .bg--white.pt-50.pb-50
      .container
        img.sim-logo(src=baseUrl + 'images/sim-global.png')
        h2.title.t--green GIVING OUR STUDENTS A HEAD START
        .row
          .col-sm-6
            p At <strong class="t--green">SIM Global Education (SIM GE)</strong>, we remain steadfast in helping our students gain a head start in life with programmes that hone their competencies and boost their employability. While we continue to update our existing programmes to ensure they remain relevant, we also introduced new programmes that develop talent to meet new and emerging needs of the economy.
          .col-sm-6
          .col-sm-8
            p
              strong.t--green In 2018, we launched the following programmes
            button(type="button").js-toggle.btn-toggle.btn-toggle-green
              img(src="../images/arrow-down.png")
              span View
            .toggle-container.programmes-list.bg--green
              p By La Trobe University, Australia
              ul
                li Bachelor of Business (Event Management)
                li Bachelor of Business (Tourism and Hospitality)

              p By RMIT University, Australia
              ul
                li Bachelor of Business (International Business)

              p By University of Wollongong, Australia
              ul
                li Bachelor of Computer Science (Big Data)

              p By Grenoble Ecole de Management, France
              ul
                li Master in International Business

              p By University of Birmingham, United Kingdom
              ul
                li Bachelor of Science (Honours) Business Management with Communications

              p By University of London, United Kingdom
              ul
                li Bachelor of Science (Honours) in Data Science and Business Analytics
                li Graduate Diploma in Business Analytics
                li Graduate Diploma in E-Business and Social Media
                li Graduate Diploma in Politics

              p By University of Stirling, United Kingdom
              ul
                li Bachelor of Arts (Honours) in Sport Business Management
                li Bachelor of Arts (Honours) in Sustainable Event Management
                li Bachelor of Arts (Honours) in Retail Marketing
                li Bachelor of Arts (Honours) in Sports Marketing

              p By The University of Warwick, United Kingdom
              ul
                li Master of Science in Cyber Security and Management
                li Master of Science in Programme and Project Management
              button(type="button").btn-close.js-close-toggle
                img(src="../images/close-green.png")
                span.t--green Close
        .row.pt-50
          .col-sm-6
            p As at the end of December, SIM GE offers a suite of over 80 diploma and degree programmes with 12 university partners across arts and social sciences, business, information technology, computer science and other specialty areas like nursing and aviation.
            p As a testament to our quality, our programmes by University of Birmingham, La Trobe University, University of London, RMIT University and University of Wollongong received accreditation from the Chinese Service Centre of Scholarly Exchange, an affiliation to the Ministry of Education of the People's Republic of China.
            p These accreditations for SIM GE's partner universities in China differentiate our graduates and open doors for them to employment and career advancement opportunities in China.
            p Once again, our students made us very proud with their stellar academic achievements. For example, we had a record-breaking 227 University of London (UOL) graduates who obtained First Class Honours. This made us the teaching centre with the highest number of First Class Honours graduates among all UOL centres worldwide, a record we have been maintaining for over 10 years. In addition, 39 SIM GE students, the highest number to date, received the UOL award for academic achievement, which is given to the best candidates around the world who take the examinations each year. Separately, a commendable 70% of the SIM-University at Buffalo graduates obtained Latin Honours.
          .col-sm-6
            figure.figure.figure--green
              img(src=baseUrl + 'images/optimised-sim-global-1.jpg')
              figcaption A proud moment for our SIM-UOL Creative Computing degree student (right) as he received the Best Overall Performance Award from Dr Maggie Cooper, Programme Director,  Goldsmiths, UOL.
            figure.figure.figure--green
              img(src=baseUrl + 'images/optimised-sim-global-2.jpg')
              figcaption Great achievement from our SIM-University at Buffalo, The State University of New York, graduates.

    .bg--lavender.pt-50.pb-50
      .container
        img.sim-logo(src=baseUrl + 'images/scia.png')
        .row
          .col-sm-6
            h2.title.t--lavender FOUNDATION FOR A BRIGHT FUTURE
            p Over at <strong class="t--lavender">Singapore (Cambodia) International Academy (SCIA)</strong>, the maiden cohort of 155 students, enrolled across the pre-school, primary and high school levels, helped launch the opening of the school in August.
            p The academy offers a blend of the Singapore and Cambridge curricula to equip students with knowledge and skills such as in critical thinking and communication, as well as to emphasise the importance of embracing the Cambodian culture through the learning of the Khmer language. To groom the students into well-rounded individuals and self-directed lifelong learners, a holistic education approach is adopted with the offering of both core and non-core subjects such as information and communications technology; entrepreneurship; character, leadership and global education; and physical education.
          .col-sm-6
            figure.figure.figure--lavender
              img(src=baseUrl + 'images/optimised-scia-1.jpg')
              figcaption SCIA High School students practising Chinese martial arts, part of the holistic education experience at SCIA.
        .row
          .col-sm-8
            +video-player({
              caption: 'SCIA Primary School Christmas concert'
            })


    .bg--orange.pt-50.pb-50
      .container
        img.sim-logo(src=baseUrl + 'images/sim-international.png')
        .row
          .col-sm-6
            h2.title.t--orange FOUNDATION FOR A BRIGHT FUTURE
            p As part of our business consolidation, we will discontinue the offering of the international Cambridge programmes under <strong class="t--orange">SIM International Academy (SIM IA)</strong>. To ensure minimal disruption to our students, the programmes will be phased out gradually.
            p Our students at SIM IA did us proud. Six students participated in the Southeast Asia Mathematics Competition for the first time and emerged as overall runners-up with a total of three gold, four silver and four bronze awards. They then proceeded to the World Mathematics Competition in Melbourne where one student emerged as one of the top eight performers in the Junior category.
          .col-sm-6
            figure.figure.figure--orange
              img(src=baseUrl + 'images/optimised-sim-int-1.jpg')
              figcaption Our first-time participants from SIM IA put on an impressive performance at the Southeast Asia Mathematics Competition.

    .bg--white.pt-50.pb-50
      .container
        img.sim-logo(src=baseUrl + 'images/sim-professional.png')
        .row
          .col-sm-6
            h2.title.t--blue STAYING RELEVANT WITH CONTINUING EDUCATION AND TRAINING
        .column-2
          p <strong class="t--blue">SIM Professional Development (SIM PD)</strong> inspires professionals, managers, and executives to embrace, adapt and keep pace with a fast-paced, volatile and ambiguous world driven by advancement in technologies and shifting socio-political dynamics. We continually review our programmes and initiatives to ensure they are relevant to working professionals and the companies they work in. A new range of programmes focusing on data science and analytics, cognitive flexibility, industrial Internet of Things, cyber security, artificial intelligence, and system and human design thinking were introduced.
          p To provide our professionals with global business perspectives, we arranged overseas learning immersion programmes to countries such as Kenya. The professionals from these countries also benefitted from the exchange as they learned best practices of companies in Singapore.
          p Besides training individuals, SIM PD works with companies to customise training solutions that help achieve business objectives, such as in leadership effectiveness and innovation. As part of the training, we facilitated learning from industries’ best practices through visits to organisations like the Agency for Science, Technology and Research, PUB and Supreme Court.
          p Another aspect of our work with companies was developing management and talent development programmes to help them attract and retain high potential employees. Leveraging technology, we developed a microsite to help companies identify business challenges and the type of learning interventions required to help them surmount these challenges.
          p SIM PD collaborated with Pure and Good Management, a leading integrated trade service provider for halal products, to develop a professional training roadmap to help businesses tap on the fast-growing halal industry. Companies will benefit from being equipped with the right skills in the areas of Islamic financing and leveraging existing trade arrangements within the halal market in ASEAN countries. This will allow them to expand their business offerings to meet the increasing demands for halal products and services from around the world, with Singapore as the hub.
        .row
          .col-sm-6
            figure.figure.figure--blue
              img(src=baseUrl + 'images/optimised-sim-professional-2.jpg')
              figcaption Mr Ronald Tan, Executive Director, SIM (front right) and Mr Zuraimi Jumaat, Director, Halal Compliance and International Strategic Alliance, Pure and Good Management, sealing the commitment to help businesses build competencies for the global halal industry.

    .bg--purple.pt-50.pb-50
      .container
        img.sim-logo(src=baseUrl + 'images/platforme.png')
        .row
          .col-sm-6
            h2.title.t--purple HELPING ENTREPRENEURS TALK BUSINESS
        .row
          .col-sm-8
            +video-player({
              caption: 'Mr Poon Da Qian'
            })
        .column-2
          p <strong class="t--purple">Platform E’s (PE)</strong> graduated its first cohort of 21 participants in April and had 16 budding entrepreneurs enrolled in its entrepreneurship programme as at December 2018. Of these 37 entrepreneurs, 14 startups have been established, more than $2m have been successfully raised from investors, and eight have also started earning revenue.
          p An open demo day was organised and PE's participants competed with other start-ups to pitch their business ideas to a panel of angel investors and venture capitalist companies. Two of PE's participants won the first and second runner-up prizes, and the first runner-up subsequently won a pitch contest in South Korea.
          p PE's ecosystem has grown significantly, with more partners coming on board and contributing to the success of the start-ups. 14 PE participants and alumni utilised the co-working space to network with the community, kick-start and grow their ventures. Examples included taking part in PE partners' incubation programme and podcast platform. Sharing sessions and events on innovation and entrepreneurship were also organised by PE and the companies within its community.
        .row.figure-row
          .col-sm-6
            figure.figure.figure--purple
              img(src=baseUrl + 'images/optimised-platforme-1.jpg')
              figcaption A demo day organised by Platform E offered a great opportunity for the start-up community to network and exchange ideas.
          .col-sm-6
            figure.figure.figure--purple
              img(src=baseUrl + 'images/optimised-platforme-2.jpg')
              figcaption Platform E participant impressing angel investors and venture capitalist companies at a pitch competition during the demo day, and won the second runner-up prize.

  +footer()
