mixin home-banner(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.id = spec.id || ''
  - spec.title = spec.title || ''
  - spec.text = spec.text || ''
  - spec.link = spec.link || '#'
  - spec.video = spec.video || ''
  - spec.image = spec.image || 'http://placehold.it/1500x500'
  - spec.color = spec.color || '#000'

  .home-banner(id=spec.id class=spec.__class style="background-image:url(#{spec.image}); background-color:#{spec.color};")&attributes(attributes)
    .container
      .home-banner__content
        h1.home-banner__title
          span.hashtag #
          span.text!=spec.title
        p.home-banner__text=spec.text
        if spec.video
          a.home-banner__video(href="spec.video")
            img(src="./images/video.jpg")
