mixin council-committees(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.data = spec.data || ''

  .council-committees(class=spec.__class)&attributes(attributes)
    each item in spec.data
      .council-committees__item
        button(type="button").council-committees__title
          span=item.title
          img(src="../images/arrow-down.png")
        .council-committees__content
          p.title.title--gold Chairman
          p=item.chairman
          if item.member.length > 1
            p.title.title--gold Members
          else
            p.title.title--gold Member
          each member in item.member
            p=member
          if item.external != ''
            if item.external.length > 1
              p.title.title--gold External Members
            else
              p.title.title--gold External Member
            each member in item.external
              p=member
          button(type="button").js-close-committees.council-committees__close.btn-close
            img(src="../images/close.png")
            span Close

