extends ../_layouts/base

include ../_modules/header/header
include ../_modules/footer/footer
include ../_modules/dare2b-banner/dare2b-banner
include ../_modules/video-player/video-player

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  +header({baseUrl})
  main.main
    +dare2b-banner(site.data.home[3])
    .bg--white.pt-50.pb-50
      .container
        img.sim-logo(src=baseUrl + 'images/sim-professional.png')
        .row
          .col-sm-6.col-xs-12
            h2.title.t--blue CONNECT AND COLLABORATE
            p Into its 4th year, <strong class="t--blue">SIM Professional Development (SIM PD)'s</strong> hallmark event, the Singapore Management Festival, continues to be a platform for thought and business leaders from around the world to share the latest leadership and management topics. Through the sharing, workshops and ensuing discussions, business ideas and solutions were stimulated and collaborations forged. This year's festival, based on the theme ‘It Is Not Enough To Disrupt', attracted more than 400 top management personnel, professionals and executives who gained insights into leadership qualities, among other traits, that are necessary for innovation and success in the future.
          .col-sm-6.col-xs-12
            figure.figure.figure--blue
              img(src=baseUrl + 'images/challenged-professional-1.jpg')
              figcaption Dato' Sri Idris Jala, former CEO of Malaysia Airlines, speaking about transformational leadership at the Singapore Management Festival.

        .row
          .col-sm-8.col-xs-12
            +video-player({
              caption: 'Singapore Management Festival 2018 Highlights',
              image: baseUrl + 'images/challenged-video-1.jpg',
              iframe: 'https://www.youtube.com/watch?v=maLYDRyj1eE'
            })
        .row
          .col-sm-8.col-xs-12
            +video-player({
              image: baseUrl + 'images/Roshini.jpg',
              iframe: baseUrl + 'videos/20190404-SIM Annual Report - Roshini - 03.mp4',
              __class: 'mt-0 align-right'
            })
    .bg--blue.pt-20.pb-50
      .container
        h2.title.t--blue INSPIRING TRANSFORMATION
        .column-2
          p Our Transformation Series continued to feature prominent international business practitioners and motivational speakers whose insights and experiences can be translated into practical principles that participants can apply in their career and personal lives.
          p This year, our two Transformation Series events showcased Ms Karina Hollekim, a female skier who took on the sport again after a paralysing parachute incident, and Mr Yossi Ghinsberg, the legendary Amazon jungle survivor. They inspired their audience with personal accounts of how they rose from adversity to become stronger and more adaptable, and how it helped them find a new purpose in life and empowered them to continue pushing boundaries to excel.
        .row.figure-row
          .col-sm-6.col-xs-12
            figure.figure.figure--blue
              img(src=baseUrl + 'images/challenged-professional-2.jpg')
              figcaption Ms Karina Hollekim, who was told by doctors that she would never be able to walk after her failed parachute experience, bounced back after two years to inspire others with her story.
          .col-sm-6.col-xs-12
            figure.figure.figure--blue
              img(src=baseUrl + 'images/challenged-professional-3.jpg')
              figcaption Mr Yossi Ghinsberg used his experience of being stranded in the Amazon jungle to teach lessons on adaptability, perseverance and pushing boundaries.
    .bg--white.pb-50.pt-50
      .container
        .row
          .col-sm-6.col-xs-12
            h2.title.t--blue MAKING SOCIAL CHANGE HAPPEN
            p As part of our social mission, SIM continued to partner the Social Service Institute (SSI), the training arm of the National Council of Social Service, to organise the Tote Board-SSI Global Leader Series for Non-Profits.
            p At this year’s conferences, attended by about 700 participants, local and international non-profit thought leaders exchanged insights on building effective and sustainable social purpose entities, and attracting and retaining talent in the sector.
          .col-sm-6.col-xs-12
            figure.figure.figure--blue
              img(src=baseUrl + 'images/challenged-professional-4.jpg')
              figcaption Ms Laura Lee, Senior Philanthropy Advisor, Credit Suisse, speaking about Asia’s philanthropic landscape and trends at a Global Leader Conference.
    .bg--green.pt-50.pb-50
      .container
        img.sim-logo(src=baseUrl + 'images/sim-global.png')
        h2.title.t--green DIALOGUES THAT MATTER
        .column-2
          p The right competencies can help one stay relevant and future ready. This was the key message of the 2019 CEO Dialogue, themed ‘New Digital Economy, New Global Competencies. Are You Ready?’. The dialogue was helmed by SIM Holdings Chief Executive Officer Dr Lee Kwok Cheong, alongside two C-suite <strong class="t--green">SIM Global Education (SIM GE)</strong> alumni (Mr Azmoon Ahmad, former Nominated Member of Parliament, and Mr Oliver Tan, Singapore Computer Society Entrepreneur of the Year) to share leadership and industry insights with alumni, students as well as industry partners.
          p The event was webcast live for the first time for the benefit of our overseas alumni.
        .col-sm-6.col-xs-12
          figure.figure.figure--blue
            img(src=baseUrl + 'images/challenged-global-1.jpg')
            figcaption Dr Lee Kwok Cheong, CEO, SIM Holdings (1<sup>st</sup> from left), Mr Azmoon Ahmad (2<sup>nd</sup> from left) and Mr Oliver Tan (2<sup>nd</sup> from right) sharing leadership and industry insights with the participants.
    .bg--white.pt-50.pb-50
      .container
        .row
          .col-sm-8.col-xs-12
            +video-player({
              caption: 'The Straits Times-SIM DisruptED Forum - Highlights',
              image: baseUrl + 'images/challenged-video-2.jpg',
              iframe: 'https://www.youtube.com/watch?v=-HDLsuy5NlQ',
              __class: 'mt-0'
            })
        .row
          .col-sm-6.col-xs-12
            h2.title.t--green.mt-0 REWRITING THE RULES
            p In a world disrupted by technological advancements, education must continue to adapt and evolve to equip learners to take on challenges in an ever-changing world. This was the focus of the inaugural ‘DisruptED’, the Straits Times-SIM Forum on Disruptions in Education. Dr Janil Puthucheary, Senior Minister of State for Education, and Communications and Information, gave the introduction at the forum which was attended by over 350 guests comprising educators, students and parents. This was followed by panel discussions with the audience led by local and international education experts, including Mr Ben Nelson from the famed Minerva college.
            p Likewise, the future of education was in the spotlight when SIM GE partnered Channel NewsAsia on the ‘Foresight’ series for the second year running. With Singapore chairing ASEAN in 2018, the six-part series focused on ‘ASEAN Foresight’. A vibrant panel discussion by senior industry executives and SIM leaders on emerging trends and challenges of education in the ASEAN context attracted more than 1.5 million viewers.
          .col-sm-6.col-xs-12
            figure.figure.figure--green
              img(src=baseUrl + 'images/challenged-global-2.jpg')
              figcaption Dr Aaron Tan, Director, Teaching and Learning Division, SIM GE (middle), discussing with other panel members the need for cyber security talents during a CNA-SIM ‘ASEAN Foresight’ programme.

    .bg--purple.pt-50.pb-50
      .container
        img.sim-logo(src=baseUrl + 'images/platforme.png')
        .column-2
          h2.title.t--purple FOOD ENTREPRENEURSHIP AND INNOVATION
          p According to a report by the United Nations, the world population is expected to reach 9.8 billion by 2050, putting tremendous pressure for more sustainable food production as well as more effective food distribution and waste management.  At the same time, growing prevalence of health issues such as diabetes and obesity across the world pose a challenge for healthier food options.
          p To address this global issue, <strong class="t--purple">Platform E (PE)</strong> founded and is the inaugural Chairman of FEED 9 Billion (F9B), a coalition formed to cultivate and facilitate innovations in food science and technology, and to address disruption in the food industry for start-ups and enterprises. F9B is a quadripartite partnership with Temasek Polytechnic, Innovate 360 (Singapore’s first food manufacturing accelerator) and FocusTech Ventures.
          p The partnership took off with an inaugural Food Entrepreneurship, Exploration & Design (FEED) Camp. The camp gathered innovators and researchers from multinational corporations, and entrepreneurs to develop innovative ideas in food technology. Two of the participants from the FEED camp are planning to launch their ventures and food products in 2019. As a follow-through to the FEED Camp, aspiring entrepreneurs can join PE’s Food Innovation Programme in 2019 to gain a deep understanding of the global food ecosystem and receive training and leverage F9B’s ecosystem to get their innovative ideas ready for market.
        .row
          .col-sm-8.col-xs-12
            +video-player({
              caption: "PE's FEED Camp 2018",
              image: baseUrl + 'images/challenged-video-3.jpg',
              iframe: 'https://www.youtube.com/watch?v=ZE_09Eynq9Y'
            })

  +footer()
