extends ../_layouts/base

include ../_modules/header/header
include ../_modules/footer/footer
include ../_modules/dare2b-banner/dare2b-banner

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  +header({baseUrl})
  main.main
    +dare2b-banner(site.data.home[4])
    .bg--white.pt-50.pb-50
      .container
        img(src=baseUrl + 'images/sim.png')
        .row
          .col-sm-6
            h2.title.t--gold The Perks of Membership
            p At SIM, we provide valuable networking opportunities for our 35,000 corporate and individual members. Likewise, our eight Interest Groups are also an integral part of continuing development for our members.
            p About 150 activities, such as talks, workshops, and local and overseas business study trips, were organised during the year for SIM and Interest Group members to share knowledge and experiences, and to cooperate and collaborate.
          .col-sm-6
            figure.figure.figure--gold
              img(src=baseUrl + 'images/counted-sim-1.jpg')
              figcaption Caption
    .bg--gold3.pt-20.pb-20
      .container
        .row
          .col-sm-8.col-sm-offset-4
            p asdasd
    .bg--green.pb-50
      .container
        .row
          .col-sm-6.pt-50
            img(src=baseUrl + 'images/sim-global.png')
            h2.title.t--green ENHANCING ALUMNI’S PROSPECTS OVERSEAS
            p To connect with our overseas alumni, <strong class="t--green">SIM Global Education (SIM GE)</strong> established the Shanghai Overseas Alumni Chapter (OAC). Shanghai is the eighth chapter and second one in China, after earlier ones set up in Indonesia, Vietnam and Myanmar.
            p A new mandate in alumni engagement is to enhance the employability of our international graduates in their home countries. Besides organising career development initiatives in cities such as Yangon and Shanghai, SIM opened its first Representative Office in Jakarta, Indonesia. One of its first initiatives was to tie up with industry partners to offer internships, management trainee programmes, career talks, workshops and seminars for our growing Indonesian alumni group. With the first Representative Office in Jakarta, plans are afoot to open more SIM GE offices in Asia and ASEAN countries to tap on fast-growing demand for quality higher education and better support our overseas students and alumni.
          .col-sm-6
            figure.figure.figure--green
              img(src=baseUrl + 'images/counted-global-1.jpg')
              figcaption Caption
            figure.figure.figure--green
              img(src=baseUrl + 'images/counted-global-2.jpg')
              figcaption Caption
    .bg--white.pt-50.pb-50
      .container
        h2.title.t--green A VIBRANT ACADEMIC PARTNERSHIP
        p Our international university partners are an integral part of the vibrancy of our learning environment.
        p Our relationship with one of our longest standing partners – the University of London (UOL) – was further strengthened with the official opening of the UOL-SIM GE Regional Centre in Singapore in April. Under the auspices of the Centre, two scholarships were awarded to our alumni for their postgraduate degrees at University College London and School of Oriental and African Studies in London, two of the 18 UOL Member Institutions in the United Kingdom.
        p In recognition of the outstanding contributions he made towards the information technology and education sectors in Singapore, Dr Lee Kwok Cheong, Chief Executive Officer, SIM Holdings, was conferred an honorary doctorate by the University of Stirling.
        .row.figure-row
          .col-sm-6
            figure.figure.figure--green
              img(src=baseUrl + 'images/counted-global-3.jpg')
              figcaption Caption
          .col-sm-6
            figure.figure.figure--green
              img(src=baseUrl + 'images/counted-global-4.jpg')
              figcaption Caption
    .bg--green.pt-50.pb-50
      .container
        h2.title.t--green LEARNED AND LEARNING TO IMPACT
        .row
          .col-sm-6
            p At SIM we value our faculty members whose dedication to sharing their knowledge and experiences has a direct and positive impact on our students. To help our faculty members continue to update their knowledge and teaching pedagogies and be role models of lifelong learning, we organised different professional training platforms and introduced various resources to support their work.
            p To enhance the educational experience of our students in a digital age, we have embarked on online and blending learning. SIM GE partnered DioWorks and Surge Consulting to organise blended coaching workshops for our lecturers. Lecturers were also introduced to the possibilities of implementing chatbots to inspire students to do self-directed learning.
            p Our teaching staff have been able to increasingly leverage technology to enhance learning for our students. Multimedia such as animation and videos were developed to illustrate difficult learning concepts for students in various programmes such as the International Foundation Programme and Management Foundation Studies. We also developed the use of an accounting software to simulate an authentic learning environment for our accounting students, and a chatbot to handle queries on our Learning Management System.
          .col-sm-6
            p SIM GE organised a series of local and regional education conferences to share the latest teaching trends including empowering students to thrive in the 21st century and beyond. The second SIM GE Regional Educators Conference held in Singapore attracted about 90 educators from 12 countries. Educator conferences were also held in Taiwan, China and Myanmar.
            p This year, our educators from Singapore (Cambodia) International Academy underwent professional development training by school leaders as well as by Cambridge Assessment International Education, Apple Inc and St John Association Singapore on areas including learning styles, pedagogy, use of technology in learning and first aid.
        .row.figure-row
          .col-sm-6
            figure.figure.figure--green
              img(src=baseUrl + 'images/counted-global-5.jpg')
              figcaption Caption
          .col-sm-6
            figure.figure.figure--green
              img(src=baseUrl + 'images/counted-global-6.jpg')
              figcaption Caption

    .bg--gold3.pt-20.pb-20
      .container
        .row
          .col-sm-6
            h2.title.t--gold INVESTING IN OUR STAFF AND INFRASTRUCTURE
          .col-sm-6
        .row
          .col-sm-6
            p SIM believes in cultivating a strong learning culture that encourages staff to embrace lifelong learning so that they can be confident and positive contributors to the organisation.
            p Last year, we invested close to $1million in staff training. Most of our staff achieved an average of 33 hours of training through public and customised courses to improve their skills in core and functional competencies as well as soft skills.
          .col-sm-6
            p To keep our campus safe and conducive for learning, we are constantly upgrading our teaching facilities. We also enhanced our campus medical safety, with additional automated external defibrillators, first-aid boxes and medical emergency signs. Staff participated in first aid training, fire drills and simulated flu pandemic business continuity management exercises to be better prepared for emergencies.
    .bg--white.pt-20.pb-50
      .container
        h2.title.t--gold PAYING IT FORWARD
        .row
          .col-sm-6
            p This year, a total of 30 scholarships and sponsorships worth $387,000 and 118 bursaries to the value of $233,000 were given to SIM GE students. SIM International Academy (SIM IA) and SCIA also gave out scholarships worth more than $155,000 (six students) and $250,000 (13 students) respectively.
          .col-sm-6
            p While our scholarships, sponsorships and bursaries are bond-free, we encourage our students to give back to the community in other ways. For the first time, the SIM Outdoor Adventure Club engaged the residents of the Bedok community, inclusive of under-privileged children, through the sport of rock climbing and bouldering. In SIM IA, students were provided with opportunities to lead in various community outreach programmes of their choice, as part of their learning of global issues and leadership development. Examples of these outreach programmes were the Willing Hearts and Food Bank Projects, where students reached out to the needy.
        .row.figure-row
          .col-sm-6
            figure.figure.figure--gold
              img(src=baseUrl + 'images/counted-sim-2.jpg')
              figcaption Caption
          .col-sm-6
            figure.figure.figure--gold
              img(src=baseUrl + 'images/counted-sim-3.jpg')
              figcaption Caption


  +footer()
