extends ../_layouts/base

include ../_modules/header/header
include ../_modules/footer/footer
include ../_modules/dare2b-banner/dare2b-banner
include ../_modules/video-player/video-player

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  +header({baseUrl})
  main.main
    +dare2b-banner(site.data.home[4])
    .bg--white.pt-50.pb-50
      .container
        img.sim-logo(src=baseUrl + 'images/sim.png')
        .row
          .col-sm-6
            h2.title.t--gold The Perks of Membership
            p At SIM, we provide valuable networking opportunities for our 35,000 corporate and individual members. Likewise, our eight Interest Groups are also an integral part of continuing development for our members.
            p About 150 activities, such as talks, workshops, and local and overseas business study trips, were organised during the year for SIM and Interest Group members to share knowledge and experiences, and to cooperate and collaborate.
          .col-sm-6
            figure.figure.figure--gold
              img(src=baseUrl + 'images/counted-sim-1.jpg')
              figcaption Members from the SIM Innovation and Quality Management Group visiting the SATS Maintenance Centre to learn about their operational innovations.
    .bg--gold4.pt-50.pb-50
      .container
        .row
          .col-sm-9
            table.counted-table(border="0" cellpadding="0" cellspacing="0")
              thead
                tr
                  th Individual members
                  th Number of members
              tbody
                tr
                  td Honorary Fellow
                  td 9
                tr
                  td Ordinary
                  td 1,279
                tr
                  td Associate
                  td 1,078
                tr
                  td Student
                  td 32,648
                tr
                  td Silver (Retired)
                  td 49
                tr
                  td
                    strong Total
                  td
                    strong 35,063
            table.counted-table(border="0" cellpadding="0" cellspacing="0")
              thead
                tr
                  th Corporate members
                  th Number of members
              tbody
                tr
                  td Companies with 1-100 employees
                  td 213
                tr
                  td Companies with 101-500 employees
                  td 98
                tr
                  td Companies with 501-1,000 employees
                  td 28
                tr
                  td Companies over 1,000 employees
                  td 37
                tr
                  td
                    strong Total
                  td
                    strong 376
            h3.counted-title.t--gold SIM Honorary Fellows
            .column-3
              p Mr Wee Cho Yaw
              p Mr Shaw Vee Meng
              p Mr Pillay J Y
              p Dr Richard Eu Keng Mun
              p Mr Hochstadt Herman R
              p Mr Ngiam Tong Dow
              p Professor Cham Tao Soon
              p Mr Hsieh Fu Hua
              p Mr John Yip Soon Kwong
            br
            button(type="button").js-toggle.btn-toggle.btn-toggle-gold
              img(src="../images/arrow-down.png")
              span List of interest groups
            .toggle-container.bg--gold5.interest-group-list
              p
                strong.t--gold Business Management Group <br>
                strong Lee Beng Guat, Partner, Kam Boat Chinese Cuisine<br>
                | To sharpen members' business management skills and help members optimise their professional performance and potential.
              p
                strong.t--gold Human Capital Interest Group <br>
                strong Yap Mei Cheng, Managing Consultant, Nissi HR & OD Consultancy <br>
                | To promote continuous learning and exchange of best practices in human capital management contextually in tandem with the changing business needs in a VUCA environment.
              p
                strong.t--gold Information Technology Group <br>
                strong Tan Kow Wah, CEO, AKW International Pte Ltd <br>
                | To provide a network for information exchange and promote the use of information technology in sharpening one’s competitive edge in the marketplace
              p
                strong.t--gold Innovation & Quality Management Group<br>
                strong Chua Kok Leong, Marketing Director, ERA Realty Network Pte Ltd <br>
                | To be the premier network of practitioners to embrace quality and innovative concepts and methodologies among organisations and individuals in Singapore.
              p
                strong.t--gold The Entrepreneurship & Strategic Management Group<br>
                strong Michael Leong Yew Meng, Principal Consultant, Ideaz People<br>
                | To promote keen leadership, entrepreneurship and strategic skills for that edge in business.
              p
                strong.t--gold SIM I Toastmasters Club <br>
                strong Imeldawati Ahmad, HR Manager (SG & SEA), SP Jain School Of Global Management Pte Ltd<br>
                | To help members sharpen their communication, presentation and leadership skills through enjoyable and interactive programmes.
              p
                strong.t--gold SIM II Toastmasters Club <br>
                strong Dr Rosalind Ho, Dental Surgeon, Shenton Dental Surgery<br>
                | To help members sharpen their communication, presentation and leadership skills through enjoyable and interactive programmes.
              p
                strong.t--gold SIM Mandarin Toastmasters Club<br>
                strong Ms Apple Lin, School Teacher, PAT House<br>
                | To help members sharpen their communication, presentation and leadership skills through enjoyable and interactive programmes.
              button(type="button").btn-close.js-close-toggle
                img(src="../images/close.png")
                span Close
    .bg--green.pb-50
      .container
        .row
          .col-sm-6.pt-50
            img.sim-logo(src=baseUrl + 'images/sim-global.png')
            h2.title.t--green ENHANCING ALUMNI’S PROSPECTS OVERSEAS
            p To connect with our overseas alumni, <strong class="t--green">SIM Global Education (SIM GE)</strong> established the Shanghai Overseas Alumni Chapter (OAC). Shanghai is the eighth chapter and second one in China, after earlier ones set up in Indonesia, Vietnam and Myanmar.
            p A new mandate in alumni engagement is to enhance the employability of our international graduates in their home countries. Besides organising career development initiatives in cities such as Yangon and Shanghai, SIM opened its first Representative Office in Jakarta, Indonesia. One of its first initiatives was to tie up with industry partners to offer internships, management trainee programmes, career talks, workshops and seminars for our growing Indonesian alumni group. With the first Representative Office in Jakarta, plans are afoot to open more SIM GE offices in Asia and ASEAN countries to tap on fast-growing demand for quality higher education and better support our overseas students and alumni.
          .col-sm-6
            figure.figure.figure--green
              img(src=baseUrl + 'images/counted-global-1.jpg')
              figcaption SIM GE alumni from Myanmar enjoying a fun night at an Overseas Alumni Chapter gathering in Yangon, Myanmar.
            figure.figure.figure--green
              img(src=baseUrl + 'images/counted-global-2.jpg')
              figcaption SIM staff and partners toasting the official opening of the SIM Representative Office in Jakarta, Indonesia.
    .bg--white.pt-20.pb-50
      .container
        h2.title.t--green A VIBRANT ACADEMIC PARTNERSHIP
        .column-2
          p Our international university partners are an integral part of the vibrancy of our learning environment.
          p Our relationship with one of our longest standing partners – the University of London (UOL) – was further strengthened with the official opening of the UOL-SIM GE Regional Centre in Singapore in April. Under the auspices of the Centre, two scholarships were awarded to our alumni for their postgraduate degrees at University College London and School of Oriental and African Studies in London, two of the 18 UOL Member Institutions in the United Kingdom.
          p In recognition of the outstanding contributions he made towards the information technology and education sectors in Singapore, Dr Lee Kwok Cheong, Chief Executive Officer, SIM Holdings, was conferred an honorary doctorate by the University of Stirling.
        .row.figure-row
          .col-sm-6
            figure.figure.figure--green
              img(src=baseUrl + 'images/counted-global-3.jpg')
              figcaption Our two SIM-UOL alumni setting their sights on the United Kingdom after obtaining a UOL scholarship each to pursue their Master’s degree.<br>&nbsp;
          .col-sm-6
            figure.figure.figure--green
              img(src=baseUrl + 'images/counted-global-4.jpg')
              figcaption Dr Lee Kwok Cheong, CEO, SIM GE (right), receiving his honorary doctorate degree from Professor Gerry McCormac, Principal and Vice-Chancellor, University of Stirling.
    .bg--green.pt-50.pb-50
      .container
        .row
          .col-sm-6
            h2.title.t--green LEARNED AND LEARNING TO IMPACT
        .row
          .col-sm-8
            +video-player({
              caption: 'Ms Deborah Lim, SIM Global Education Associate Lecturer',
              image: baseUrl + 'images/Deborah.jpg',
              iframe: baseUrl + 'videos/20190404-SIM Annual Report - Deborah Lim - 03.mp4'
            })
        .column-2
          p At SIM we value our faculty members whose dedication to sharing their knowledge and experiences has a direct and positive impact on our students. To help our faculty members continue to update their knowledge and teaching pedagogies and be role models of lifelong learning, we organised different professional training platforms and introduced various resources to support their work.
          p To enhance the educational experience of our students in a digital age, we have embarked on online and blending learning. SIM GE partnered DioWorks and Surge Consulting to organise blended coaching workshops for our lecturers. Lecturers were also introduced to the possibilities of implementing chatbots to inspire students to do self-directed learning.
          p Our teaching staff have been able to increasingly leverage technology to enhance learning for our students. Multimedia such as animation and videos were developed to illustrate difficult learning concepts for students in various programmes such as the International Foundation Programme and Management Foundation Studies. We also developed the use of an accounting software to simulate an authentic learning environment for our accounting students, and a chatbot to handle queries on our Learning Management System.
          p SIM GE organised a series of local and regional education conferences to share the latest teaching trends including empowering students to thrive in the 21st century and beyond. The second SIM GE Regional Educators Conference held in Singapore attracted about 90 educators from 12 countries. Educator conferences were also held in Taiwan, China and Myanmar.
          p This year, our educators from Singapore (Cambodia) International Academy underwent professional development training by school leaders as well as by Cambridge Assessment International Education, Apple Inc and St John Association Singapore on areas including learning styles, pedagogy, use of technology in learning and first aid.
        .row.figure-row
          .col-sm-6
            figure.figure.figure--green
              img(src=baseUrl + 'images/counted-global-5.jpg')
              figcaption Educational leader Dr Saundra Yancy McGuire giving insights on learning strategies at an education conference for SIM GE lecturers.
          .col-sm-6
            figure.figure.figure--green
              img(src=baseUrl + 'images/counted-global-6.jpg')
              figcaption SIM staff and participants of the SIM Regional Partners Conference in Thailand.

    .bg--gold3.pt-50.pb-20
      .container
        .row
          .col-sm-6
            h2.title.t--gold INVESTING IN OUR STAFF AND INFRASTRUCTURE
        .column-2
          p SIM believes in cultivating a strong learning culture that encourages staff to embrace lifelong learning so that they can be confident and positive contributors to the organisation.
          p Last year, we invested close to $1million in staff training. Most of our staff achieved an average of 33 hours of training through public and customised courses to improve their skills in core and functional competencies as well as soft skills.
          p To keep our campus safe and conducive for learning, we are constantly upgrading our teaching facilities. We also enhanced our campus medical safety, with additional automated external defibrillators, first-aid boxes and medical emergency signs. Staff participated in first aid training, fire drills and simulated flu pandemic business continuity management exercises to be better prepared for emergencies.
    .bg--white.pt-20.pb-50
      .container
        h2.title.t--gold PAYING IT FORWARD
        .column-2
          p This year, a total of 30 scholarships and sponsorships worth $387,000 and 118 bursaries to the value of $233,000 were given to SIM GE students. SIM International Academy (SIM IA) and SCIA also gave out scholarships worth more than $155,000 (six students) and $250,000 (13 students) respectively.
          p While our scholarships, sponsorships and bursaries are bond-free, we encourage our students to give back to the community in other ways. For the first time, the SIM Outdoor Adventure Club engaged the residents of the Bedok community, inclusive of under-privileged children, through the sport of rock climbing and bouldering. In SIM IA, students were provided with opportunities to lead in various community outreach programmes of their choice, as part of their learning of global issues and leadership development. Examples of these outreach programmes were the Willing Hearts and Food Bank Projects, where students reached out to the needy.
        .row.figure-row
          .col-sm-6
            figure.figure.figure--gold
              img(src=baseUrl + 'images/counted-sim-2.jpg')
              figcaption SIM Governing Council member and senior management together with the two SIM postgraduate scholars (middle two) who were both pursuing their studies in the United Kingdom.
          .col-sm-6
            figure.figure.figure--green
              img(src=baseUrl + 'images/counted-sim-3.jpg')
              figcaption Students from the SIM Outdoor Adventure Club promoting an active lifestyle to residents at an outreach event at HeartBeat @ Bedok.<br>&nbsp;


  +footer()
