mixin header(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.baseUrl = spec.baseUrl || './'

  header.header(class=spec.__class)&attributes(attributes)
    .container
      a.header__logo(href=spec.baseUrl)
        img(src="#{spec.baseUrl}images/logo.jpg")
      button.header__button.js-toggle-menu(type="button")
        span.line.line--top
        span.line.line--middle
        span.line.line--bottom
      ul.header__navigation
        each item in site.data.navigation
          li.header__item
            a.header__link(href=spec.baseUrl+item.link target=item.newtab ? '_blank' : '_self')=item.text
            if item.menu
              ul.header__dropdown
                each child in item.menu
                  li.child__item
                    a.child__link(href=spec.baseUrl+child.link)=child.text
