mixin video-player(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.iframe = spec.iframe || ''
  - spec.ïmage = spec.ïmage || 'http://placehold.it/800x450'
  - spec.caption = spec.caption || ''
  - spec.newtab = spec.newtab || false

  if spec.newtab
    a.video-player(class=spec.__class href=spec.iframe target="_blank")&attributes(attributes)
      img.video-player__image(src=spec.image)
      button.video-player__button(type="button")
        img(src="../images/arrow-right.png")
      if spec.caption
        .video-player__caption
          span=spec.caption
  else
    a.video-player(class=spec.__class data-fancybox='' href=spec.iframe)&attributes(attributes)
      img.video-player__image(src=spec.image)
      button.video-player__button(type="button")
        img(src="../images/arrow-right.png")
      if spec.caption
        .video-player__caption
          span=spec.caption
